<section class="hero min-h-screen bg-gradient-to-r from-sky-500 to-neutral-500 backdrop-blur-lg">
  <img src="assets/img/wallpapers/insurance-form-wallpaper.jpeg" class="absolute inset-0 w-full h-full object-cover backdrop-blur-lg opacity-20" alt="Background image">  
  <div class="hero-content flex-col lg:flex-row-reverse gap-10">
    <div class="text-center lg:text-left max-w-lg text-white animate-fade-left animate-once animate-ease-in">
      <h1 class="text-5xl  font-bold">Your Claim starts here</h1>
    </div>
    <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-100 animate-fade-up">
      <div class="card-body">
        <form [formGroup]="insuranceForm">
          <div *ngFor="let question of insuranceFormQuestionList" class="form-control">
            <mat-form-field class="form-question">
              <mat-label>{{ question.label }}</mat-label>
              <input 
                matInput 
                type="text" 
                [formControlName]="question.formControlName" 
                [placeholder]="question.placeholder"
                [errorStateMatcher]="errorMatcher"
              >
            </mat-form-field>
          </div>

          <div class="flex mt-6 gap-x-10 justify-between">
            <button 
              class="btn btn-neutral flex-grow rounded-full max-w-[10rem]" 
              type="button" 
              routerLink="" 
              routerLinkActive="active" 
              ariaCurrentWhenActive="page"
            > Back </button>
            <button 
              class="btn btn-primary rounded-full flex-grow max-w-[10rem]" 
              type="button" 
              [disabled]="!insuranceForm.valid" 
              (click)="handleInsuranceFormSubmit()"
            >
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>
